# Copy to .env and fill in values

# Airflow
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW_HOME=/opt/airflow
AIRFLOW_ADMIN_PWD=admin

# Postgres
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Stock API
STOCK_API_PROVIDER=ALPHAVANTAGE
ALPHAVANTAGE_API_KEY=replace_me
STOCK_SYMBOLS=MSFT,AAPL

# DAG schedule (CRON)
PIPELINE_SCHEDULE_CRON=0 * * * *

# DB target table
STOCK_DB_SCHEMA=public
STOCK_DB_TABLE=stocks
